/*
 * Copyright (c) 2024 SAP SE or an SAP affiliate company. All rights reserved.
 */

package {{invokerPackage}}.auth;

import org.springframework.http.HttpHeaders;
import org.springframework.util.MultiValueMap;
import javax.annotation.Nonnull;
import com.google.common.annotations.Beta;

/**
* Representing a method to authenticate at the REST API
*/
@Beta
public interface Authentication {
    /**
     * Apply authentication settings to header and / or query parameters.
     * @param queryParams The query parameters for the request
     * @param headerParams The header parameters for the request
     */
     void applyToParams( @Nonnull MultiValueMap<String, String> queryParams, @Nonnull HttpHeaders headerParams);
}
