# configuration docu: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: maven
    target-branch: main
    directory: '/'
    schedule:
      interval: weekly
      time: '08:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 5
    commit-message:
      prefix: 'chore: [DevOps] '
    groups:
      production-minor-patch:
        dependency-type: "production"
        update-types: ["minor", "patch"]
        exclude-patterns:
          - "*-plugin"
      production-major:
        dependency-type: "production"
        update-types: [ "major" ]
        exclude-patterns:
          - "*-plugin"
      plugins:
        dependency-type: "production"
        patterns:
          - "*-plugin"
      test:
        dependency-type: "development"
    ignore:
      # updating leads to unintended formatting of POM files
      - dependency-name: 'com.github.ekryd.sortpom:sortpom-maven-plugin'
      # updating leads to issues while reading our PMD rule sets (due to a new major PMD version that is being used under-the-hood)
      - dependency-name: 'org.apache.maven.plugins:maven-pmd-plugin'
      # used by deprecated code only, not worth updating for now
      - dependency-name: 'org.apache.axis2:*'
      # updating currently doesn't work as our rules are not compatible with the latest version
      - dependency-name: 'com.puppycrawl.tools:checkstyle'

  # archetype updates
  # Dependabot seems to be unable to handle those, so this is disabled for now
  # example log from Dependabot: msg="updater container failed" error="waiting for updater: bad response from container: 1" exit_code=1
  # - package-ecosystem: maven
  #   target-branch: main
  #   directory: '/archetypes/spring-boot3/src/main/resources/archetype-resources/'
  #   schedule:
  #     interval: weekly
  #   commit-message:
  #     prefix: 'chore: [DevOps] '
  #   groups:
  #     Archetype:
  #       patterns:
  #         - "*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    commit-message:
      prefix: 'chore: [DevOps] '
    groups:
      github-actions:
        patterns:
          - "*"
