**/target/
**/.settings/
**/.project
**/.classpath
**/.DS_Store
**/*.pyc
**/*.pmd
**/*.fpr
**/*.ipr
**/*.iws
**/*.iml
**/*.idea
**/*.vscode
**/.cache
**/.cache-main
**/WebContent
META-INF/application.xml
**/*.sublime-project
**/*.sublime-workspace
pom.xml.versionsBackup
/mvnrepo
/temp
**/*.log
**/*.trc
**/metadata/*.edmx
**/swagger/*.json
local_m2/*
# ignore junit temporary directories
**/junit[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]/
**/vdm-integration-tests/serviceNameMappings.properties
.venv
.mvn
mvnw
mvnw.cmd
**/.factorypath
mvnvm.properties
javadoc.properties

**/.openapi-generator/**


local_maven_repo
badges/
