steps:
  detectExecuteScan:
    projectName: 'SHC - CLOUD SDK'
    groups:
      - 'CLOUD SDK 4.0'
    serverUrl: 'https://sap.blackducksoftware.com/'
    mavenExcludedScopes: ["provided", "test"]
    failOn: ['BLOCKER', 'CRITICAL', 'MAJOR']
    versioningModel: "major"
    scanProperties:
      - --detect.maven.excluded.modules=tests-parent,testutil-core,testutil-parent
      - --detect.maven.build.command="'-pl !:tests-parent,!:testutil-core,!:testutil-parent'"
      - --detect.timeout=7200

stages:
  codeCheck:
    checkstyle:
      high: '0'
      normal: '-1'
      low: '-1'
    findbugs:
      high: '0'
      normal: '-1'
      low: '-1'
    pmd:
      high: '0'
      normal: '-1'
      low: '-1'
