steps:
  detectExecuteScan:
    projectName: 'SHC - CLOUD SDK'
    groups:
      - 'CLOUD SDK 4.0'
    serverUrl: 'https://sap.blackducksoftware.com/'
    mavenExcludedScopes: ["provided", "test"]
    failOn: ['BLOCKER', 'CRITICAL', 'MAJOR']
    versioningModel: "major"
    # detectTools: ['DETECTOR', 'BINARY_SCAN']
    scanProperties: ['--detect.maven.excluded.modules=com.sap.cloud.sdk.*']

stages:
  test:
    coverageThresholds:
      instruction: 75
      branch: 67
      complexity: 65
      line: 76
      method: 71
      class: 80
  codeCheck:
    checkstyle:
      high: '14'# Open tasks (to do or fix me)
      normal: '0'
      low: '0'
    findbugs: #SpotBugs
      high: '0'
      normal: '0'
      low: '0'
    pmd:
      high: '0'
      normal: '6'
      low: '2'
