{{#jackson}}
{{#discriminator}}
@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, property = "{{{discriminator.propertyBaseName}}}", visible = true)
{{/discriminator}}
{{^discriminator}}
@JsonTypeInfo(use = JsonTypeInfo.Id.DEDUCTION)
{{/discriminator}}
@JsonSubTypes({
{{#discriminator.mappedModels}}
  @JsonSubTypes.Type(value = {{modelName}}.class{{#discriminator}}, name = "{{^vendorExtensions.x-discriminator-value}}{{mappingName}}{{/vendorExtensions.x-discriminator-value}}{{#vendorExtensions.x-discriminator-value}}{{{vendorExtensions.x-discriminator-value}}}{{/vendorExtensions.x-discriminator-value}}"{{/discriminator}}),
{{/discriminator.mappedModels}}
{{^discriminator.mappedModels}}
{{#model.oneOf}}
    @JsonSubTypes.Type(value = {{.}}.class),
{{/model.oneOf}}
{{/discriminator.mappedModels}}
})
{{/jackson}}