name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: 0 12 * * 1,2,3,4,5

env:
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false"
  MVN_CLI_ARGS: "--batch-mode --no-transfer-progress --fail-at-end --show-version"

jobs:
  build:
    runs-on: ubuntu-latest
    # Permissions block is optional, useful for dependabot checks
    permissions:
      checks: write
      contents: read
    name: Install
    outputs:
      version: ${{ steps.get-version.outputs.VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Determine Version
        run: echo "VERSION=$(cat latest.json | jq .version)" >> $GITHUB_OUTPUT
        id: get-version
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17
      - name: Install
        run: |
          mvn $MVN_CLI_ARGS install jacoco:report
      - name: Local Changes Check
        run: |
          CHANGED_FILES="$(git --no-pager diff --name-only)"
          if [ ! -z "$CHANGED_FILES" ]; then
              echo "There are local changes in the following files:"
              echo "$CHANGED_FILES"
              echo "Printing the git diff:"
              git --no-pager diff
              exit 1
          fi

      - name: ZIP M2 SDK Directory
        run: |
          cd $HOME/.m2/repository/com/sap/cloud/sdk
          zip -r m2-sdk.zip .
      - name: Upload M2 SDK Directory
        uses: actions/upload-artifact@v3
        with:
          name: m2-sdk
          path: ~/.m2/repository/com/sap/cloud/sdk/m2-sdk.zip
          retention-days: 1

      - name: Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: "**/jacoco.csv"
      - name: Test Coverage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"
      - name: PMD
        run: |
          mvn $MVN_CLI_ARGS org.apache.maven.plugins:maven-pmd-plugin:pmd
          python .pipeline/scripts/print-pmd.py
      - name: Spotbugs
        run: |
          mvn $MVN_CLI_ARGS com.github.spotbugs:spotbugs-maven-plugin:spotbugs
          python .pipeline/scripts/print-spotbugs.py

  archetypes:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      checks: write
      contents: read
    strategy:
      matrix:
        task:
          - {
            "archetype": "scp-cf-spring",
            "javaVersion": 8,
            "startCommand": "mvn spring-boot:run -B"
          }
          - {
            "archetype": "scp-cf-spring-jakarta",
            "javaVersion": 17,
            "startCommand": "mvn spring-boot:run -B"
          }
    name: ${{ matrix.task.archetype }}
    steps:
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: ${{ matrix.task.javaVersion }}
      - name: Load Maven Repository
        uses: actions/cache/restore@v3
        id: restore-cache
        with:
          path: ~/.m2/repository
          key: maven-central
      - name: Download M2 SDK Directory
        uses: actions/download-artifact@v3
        with:
          name: m2-sdk
          path: .
      - name: UNZIP M2 SDK Directory
        run: |
          mkdir -p ~/.m2/repository/com/sap/cloud/sdk
          unzip m2-sdk.zip -d ~/.m2/repository/com/sap/cloud/sdk

      - name: Generate ${{ matrix.task.archetype }}
        run: >
          mvn archetype:generate -B
          -DarchetypeCatalog=local
          -DarchetypeGroupId=com.sap.cloud.sdk.archetypes
          -DarchetypeArtifactId=${{ matrix.task.archetype }}
          -DarchetypeVersion=${{ needs.build.outputs.version }}
          -DgroupId=com.sap.test
          -DartifactId=example-${{ matrix.task.archetype }}
          -Dversion=1.0-SNAPSHOT
          -Dpackage=com.sap.test
          -Dhttp.keepAlive=false

      - name: Verify ${{ matrix.task.archetype }}
        working-directory: ./example-${{ matrix.task.archetype }}
        run: >
          mvn clean verify -B
          -Dhttp.keepAlive=false
          -Dmaven.test.skip=true
      - name: Test ${{ matrix.task.name }}
        working-directory: ./example-${{ matrix.task.archetype }}
        run: mvn test -B -Dsurefire.logLevel='error'
      - name: Spotbugs ${{ matrix.task.archetype }}
        working-directory: ./example-${{ matrix.task.archetype }}
        run: >
          mvn com.github.spotbugs:spotbugs-maven-plugin:check -B
          -pl !integration-tests
          -Dhttp.keepAlive=false
          -Dmaven.wagon.http.pool=false

      - name: Start ${{ matrix.task.archetype }}
        working-directory: ./example-${{ matrix.task.archetype }}/application
        run: |
          logFilePath=log.txt
          ${{ matrix.task.startCommand }} > $logFilePath 2>&1 &

          if ! curl -s --retry 60 --retry-delay 3 --retry-all-errors http://127.0.0.1:8080/hello ; then
            echo "Project generated from archetype ${archetype} failed to start locally."
            cat $logFilePath
            exit 1
          fi

          if ! grep -q "I am running!" $logFilePath; then
            echo "Project generated from archetype ${archetype} started locally, but did not contain the expected log output."
            cat $logFilePath
            exit 1
          fi

          if grep -iq "caused by" $logFilePath; then
            echo "Error in log file:"
            cat $logFilePath
            exit 1
          fi


      - name: Verify .gitignore ${{ matrix.task.archetype }}
        working-directory: ./example-${{ matrix.task.archetype }}
        run: |
          if [ ! -f .gitignore ]; then
              ls -lah
              echo "Project generated from archetype does not contain a .gitignore file."
              exit 1
          fi

      - name: Purge SDK Artifacts from Maven Repository
        run: |
          rm -rf $HOME/.m2/repository/com/sap/cloud/sdk/
      - name: Save Maven Repository
        uses: actions/cache/save@v3
        if: steps.restore-cache.outputs.cache-hit != 'true'
        id: save-cache
        with:
          path: ~/.m2/repository
          key: maven-central

  codeql:
    name: Analyze with CodeQL
    runs-on: ubuntu-latest
    timeout-minutes: 360
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: 'java'
          queries: security-extended

      # M2
      - name: Load Maven Repository
        uses: actions/cache/restore@v3
        id: restore-cache
        with:
          path: ~/.m2/repository
          key: maven

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          category: "/language:java"
