name: Perform Release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Name of the tag to release'
        required: true

env:
  MVN_CLI_ARGS: "--batch-mode --no-transfer-progress --fail-at-end --show-version"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - run: |
          #GIT_TAG=${{ github.event.release.tag_name }}
          GIT_TAG=${{ github.event.inputs.release_tag }}
          echo Git Tag "$GIT_TAG"

          gh release download "$GIT_TAG" --dir artifacts --repo "SAP/cloud-sdk-java"
          tree artifacts
          # todo deploy to maven central

          BRANCH_NAME=`python -c "print('RELEASE-' + '$GIT_TAG'.replace('rel/', ''))"`
          echo Branch Name "$BRANCH_NAME"

          #gh pr merge --rebase "$BRANCH_NAME"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
