name: Perform Release

on:
  release:
    types: [published]

env:
  MVN_CLI_ARGS: "--batch-mode --no-transfer-progress --fail-at-end --show-version"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
          cache: maven

      - run: |
          GIT_TAG=${{ github.event.release.tag_name }}
          echo Git Tag "$GIT_TAG"

          gh release download "$GIT_TAG" --dir artifacts
          tree artifacts
          # todo deploy to maven central

          BRANCH_NAME=`python -c "print('RELEASE-' + '$GIT_TAG'.replace('rel/', ''))"`
          echo Branch Name "$BRANCH_NAME"

          #gh pr merge --rebase "$BRANCH_NAME"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
